<div class="DashboardGraphs">
  <div class="btn-group">
    <button
      class="btn btn-xs"
      ng-class="{'btn-primary': displayView === 'templates', 'Button-primary--hollow': displayView !== 'templates'}"
      ng-click="templatesClick()"
      ng-show="isCICDManMember || isSuperUser"
    >
      Templates
    </button>
    <button
      class="btn btn-xs"
      ng-class="{'btn-primary': displayView === 'actions', 'Button-primary--hollow': displayView !== 'actions'}"
      ng-click="actionsClick()"
      ng-show="isCICDManMember || isSuperUser"
    >
      Actions
    </button>
    <button
      class="btn btn-xs"
      ng-class="{'btn-primary': displayView === 'pipeline', 'Button-primary--hollow': displayView !== 'pipeline'}"
      ng-click="pipelineClick()"
      ng-show="isCICDmember || isSuperUser"
    >
      Pipeline
    </button>
    <button
      class="btn btn-xs"
      ng-class="{'btn-primary': displayView === 'history', 'Button-primary--hollow': displayView !== 'history'}"
      ng-click="historyClick()"
      ng-show="isCICDmember || isSuperUser"
    >
      History
    </button>
  </div>

  <!-- ADD TEMPLATE -->
  <div
    class="DashboardGraphs"
    style="padding: 20px 20px"
    ng-show="!!isAdding && displayView === 'templates'"
  >
    <div>
      <label for="template_name">Name of template: </label>
      <input
        type="text"
        id="template_name"
        ng-model="templateName"
        ng-change="templateNameInputChange()"
      />
    </div>
    <div class="pipeline">
      <div id="pipeline_container" ng-view elem-ready="some()">
        <div ng-repeat="(key, column) in $parent.treeView">
          <div ng-repeat="(l, cell) in column track by column.length + l">
            <deploy-card
              ng-if="!isEmptyCell(key, l)"
              id="card_{{key}}{{l}}"
              step="{{key}}{{l}}"
              index="column.length + l"
              allowrun="isAllowRun"
              allowdelete="isAllowDelete"
              points="cell.points"
              name="cell.name"
              ispicker="cell.picker"
              isdeployer="cell.setuper"
              domain="cell.domain"
              action="cell.action"
            >
            </deploy-card>
            <div class="add_card panzoom-exclude" id="card_{{key}}{{l}}" ng-if="isEmptyCell(key, l)" ng-click="handleAddStep(key, l)">
              <i class="fa fa-plus-circle"></i>
            </div>
          </div>
        </div>
      </div>
        <!-- <deploy-card
          ng-repeat="(key, value) in $root.isConfigUploaded track by $index"
          step="{{key + 1}}"
          index="key"
          allowrun="isAllowRun"
          allowdelete="isAllowDelete"
        >
        </deploy-card> -->
        <!-- <div class="add_card" ng-click="handleAddCard()">
          <i class="fa fa-plus-circle"></i>
        </div> -->
    </div>
    <div class="pipeline" style="padding-top: 20px;">
      <button class="btn btn-success" ng-click="handleSave()" ng-if="!isEditing">Save</button>
      <button class="btn btn-success" ng-click="handleEditTemplate()" ng-if="isEditing">Edit</button>
      <button class="btn" ng-click="handleCancel()">Cancel</button>
    </div>
    <div
      class="DashboardGraphs error"
      ng-show="errors !== null"
      style="background-color: #f8d7da;
            border: 1px solid #f5c6cb; padding-bottom: 20px;"
    >
      <i class="fa fa-warning"></i> Error: {{errors.details}}
    </div>
  </div>

  <!-- ADD ACTION -->
  <div class="DashboardGraphs" style="padding: 20px 20px;" ng-show="!!isAddingAction && displayView === 'actions'">
    <p style="font-weight: bold;">Name of action: </p>
    <input
      type="text"
      id="action_name"
      ng-model="actionName"
      ng-change="actionNameInputChange()"
    />
    <p style="font-weight: bold;">Choose job template:</p>
    <select style="width: 170px" ng-model="selected.action"
      ng-options="item as item.name for item in storedJobTemplates track by item.id"
    >
    </select>
    <p style="font-weight: bold;">Extra variables:</p>
    <div id="jsoneditor" style="width: 400px; height: 400px;"></div>
    <div class="pipeline" style="padding-top: 20px;">
      <button class="btn btn-success" ng-click="handleSaveAction()" ng-if="!isEditing">Save</button>
      <button class="btn btn-success" ng-click="handleEditAction()" ng-if="isEditing">Edit</button>
      <button class="btn" ng-click="handleCancel()">Cancel</button>
    </div>
  </div>

  <!-- VIEW TEMPLATES-->
  <div style="padding: 20px 0px" ng-show="displayView === 'templates' && (isCICDManMember || isSuperUser)">
    <at-panel-body>
      <div class="at-List-toolbarAction">
        <button
          type="button"
          ng-show="!isAdding"
          class="at-Button--add"
          id="button-add"
          data-placement="top"
          aria-haspopup="false"
          aria-expanded="false"
          style="line-height: 20px;"
          ng-click="handleAddTemplate()"
        >
          Add new template
        </button>
      </div>
      <h3>Available templates</h3>
      <hr/>
      <at-list results="storedTemplates">
        <at-row
          ng-repeat="project in storedTemplates"
          ng-class="{'at-Row--active': (project.id === vm.activeId), 'at-Row--collapsed': vm.isCollapsed}"
          id="row-{{ project.id }}"
        >
          <div class="at-Row-items">
            <div class="at-Row-container">
              <at-row-item
                status="{{ project.statusIcon }}"
                status-tip="{{ project.statusTip }}"
                status-click="vm.showSCMStatus(project.id)"
                header-value="{{ project.name }}"
                header-tag="{{ vm.projectTypes[project.scm_type] }}"
              >
              </at-row-item>
              <div class="at-Row-actions">
                <at-row-action
                  icon="fa-pencil"
                  ng-click="editTemplate(project.id)"
                >
                </at-row-action>
                <at-row-action
                  icon="fa-trash"
                  ng-click="deleteTemplate(project.id, false)"
                >
                </at-row-action>
              </div>
            </div>
            <div class="at-Row-container--wrapped">
              <div class="at-RowItem" ng-if="project.scm_revision">
                <div class="at-RowItem-label">
                  {{ :: vm.strings.get('list.ROW_ITEM_LABEL_REVISION') }}
                </div>
                <at-truncate
                  string="{{ project.scm_revision }}"
                  maxLength="7"
                ></at-truncate>
              </div>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_DESCRIPTION')}}"
                value="{{ project.description | sanitize }}"
              >
              </at-row-item>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_ORGANIZATION')}}"
                value="{{ project.summary_fields.organization.name }}"
                value-link="/#/organizations/{{ project.organization }}"
              >
              </at-row-item>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_MODIFIED') }}"
                value-bind-html="{{ vm.getLastModified(project) }}"
              >
              </at-row-item>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_USED') }}"
                value-bind-html="{{ vm.getLastUsed(project) }}"
              >
              </at-row-item>
            </div>
          </div>
        </at-row>
      </at-list>
    </at-panel-body>
  </div>
  <paginate
    ng-if="displayView === 'templates'"
    collection="storedTemplates"
    dataset="dataset"
    iterator="deploytemplate"
    base-path="api/v2/deploy_template"
  >
  </paginate>

  <!-- VIEW ACTIONS -->
  <div style="padding: 20px 0px;" ng-if="displayView === 'actions' && (isCICDManMember || isSuperUser)">
    <at-panel-body>
      <div class="at-List-toolbarAction">
        <button
          type="button"
          ng-show="!isAdding"
          class="at-Button--add"
          id="button-add"
          data-placement="top"
          aria-haspopup="false"
          aria-expanded="false"
          style="line-height: 20px;"
          ng-click="handleAddAction()"
        >
          Add new action
        </button>
      </div>
      <h3>Available actions</h3>
      <hr/>
      <at-list results="storedActions">
        <at-row
          ng-repeat="project in storedActions"
          ng-class="{'at-Row--active': (project.id === vm.activeId), 'at-Row--collapsed': vm.isCollapsed}"
          id="row-{{ project.id }}"
        >
          <div class="at-Row-items">
            <div class="at-Row-container">
              <at-row-item
                status="{{ project.statusIcon }}"
                status-tip="{{ project.statusTip }}"
                status-click="vm.showSCMStatus(project.id)"
                header-value="{{ project.name }}"
                header-tag="{{ vm.projectTypes[project.scm_type] }}"
              >
              </at-row-item>
              <div class="at-Row-actions">
                <at-row-action
                  icon="fa-pencil"
                  ng-click="editAction(project.id)"
                >
                </at-row-action>
                <at-row-action
                  icon="fa-trash"
                  ng-click="deleteAction(project.id)"
                >
                </at-row-action>
              </div>
            </div>
            <div class="at-Row-container--wrapped">
              <div class="at-RowItem" ng-if="project.scm_revision">
                <div class="at-RowItem-label">
                  {{ :: vm.strings.get('list.ROW_ITEM_LABEL_REVISION') }}
                </div>
                <at-truncate
                  string="{{ project.scm_revision }}"
                  maxLength="7"
                ></at-truncate>
              </div>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_DESCRIPTION')}}"
                value="{{ project.description | sanitize }}"
              >
              </at-row-item>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_ORGANIZATION')}}"
                value="{{ project.summary_fields.organization.name }}"
                value-link="/#/organizations/{{ project.organization }}"
              >
              </at-row-item>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_MODIFIED') }}"
                value-bind-html="{{ vm.getLastModified(project) }}"
              >
              </at-row-item>
              <at-row-item
                label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_USED') }}"
                value-bind-html="{{ vm.getLastUsed(project) }}"
              >
              </at-row-item>
            </div>
          </div>
        </at-row>
      </at-list>
    </at-panel-body>
    <paginate
    ng-if="displayView === 'actions'"
    collection="storedActions"
    dataset="actionsDataset"
    iterator="action"
    base-path="api/v2/action"
  >
  </paginate>
  </div>

  <!-- VIEW HISTORY -->
  <div style="padding: 20px 0px;" ng-if="displayView === 'history' && (isCICDmember || isSuperUser)">
    <table class="table">
      <thead>
        <tr class="table-head">
          <th>ID</th>
          <th>DATE</th>
          <th>USER</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="item in deployHistoryRows"
          class="table-row"
          ng-click="historyRowClick(item)"
        >
          <td>{{item.id}}</td>
          <td
            ng-bind="item.created | date:'dd-MM-yyyy HH:mm:ss'"
            style="width: 200px;"
          ></td>
          <td>{{item.summary_fields.created_by.username}}</td>
          <td>
            <button class="btn btn-danger" ng-click="deleteHistoryRow($event, item)">
              <i class="fa fa-trash" ng></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <paginate
    ng-if="displayView === 'history'"
    collection="deployHistoryRows"
    dataset="history"
    iterator="deploy"
    base-path="api/v2/deploy_history"
  >
  </paginate>

  <!-- VIEW PIPELINE -->
  <div style="padding: 20px 0px;" ng-if="displayView === 'pipeline' && (isCICDmember || isSuperUser)">
    <div>
      <span style="font-weight: bold;">Choose template:</span>
      <select style="width: 170px" ng-model="selected.item" ng-change="getSteps(item)"
        ng-options="item as item.name for item in storedTemplates track by item.id"
      >
      </select>
    </div>
    <div class="pipeline">
      <div id="pipeline_container">
        <deploy-card
          ng-repeat="(key, value) in $root.isConfigUploaded track by $index"
          step="{{key + 1}}"
          index="key"
          allowrun="isAllowRun"
          allowdelete="isAllowDelete"
        >
        </deploy-card>
      </div>
    </div>
  </div>
  <!-- POPUP -->
  <div class="popup" ng-show="showPopup">
    <div class="popup-content">
      <div class="popup-header">
        <span class="close" ng-click="closePopup()">&times;</span>
        <h4>Upcoming changes</h4>
      </div>
      <div class="popup-body">
        <div class="text-view">
          <div class="line-nums" id="nums-data">
            <div ng-repeat="num in lineNumbers track by $index">{{num}}</div>
          </div>
          <textarea id="listing-data" readonly>{{fileText}}</textarea>
        </div>
        <button class="btn btn-primary" ng-click="uploadConfig()">
          <i class="fa fa-play-circle"></i>
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
