<div class="card-deploy" id="{{'card_' + $ctrl.step}}">
  <div class="card_header" ng-click="editStepName()">
    <h3 ng-if="!name && !isEditingName">Step {{$ctrl.step}}</h3>
    <p ng-if="name && !isEditingName">{{name}}</p>
    <div class="name_input" ng-if="isEditingName">
      <input type="text" ng-model="$parent.name"/>
      <button class="btn btn-xs btn-success" ng-click="saveName($event, $ctrl.step)">Ok</button>
    </div>
    <i class="fa fa-trash-o" ng-show="allowDelete" ng-click="handleDeleteCard($ctrl.step)"/>
  </div>
  <hr/>
  <div style="margin-bottom: 10px;">
    <span>Choose domain:</span>
    <select style="width: 170px" ng-disabled="isDisabledFields" ng-model="domain" ng-change="setDomain($ctrl.step)">
      <option ng-repeat="(key, domain) in domainsList">{{domain}}</option>
    </select>
    <span>Choose action:</span>
    <select style="width: 170px" ng-disabled="isDisabledFields" ng-model="action" ng-change="setAction($ctrl.step)">
      <option ng-repeat="act in actionsList" ng-value="act.id">{{act.name}}</option>
    </select>
    <div>
      <input id="picker" ng-disabled="isDisabledFields" type="checkbox" ng-model="ispicker" ng-change="setPicker($ctrl.step)"/>
      <label for="picker">Composer step</label>
    </div>
    <div>
      <input id="setuper" ng-disabled="isDisabledFields" type="checkbox" ng-model="isdeployer" ng-change="setDeployer($ctrl.step)"/>
      <label for="setuper">Deployer step</label>
    </div>
    <div class="points_container" ng-if="points.length">
      <p class="points_label">KEY POINTS</p>
      <div class="points_table_wrapper">
        <table>
          <tr ng-repeat="(idx, point) in points">
            <td>{{point.name}}</td>
            <td class="hover_effect"><i class="fa fa-trash-o" ng-show="allowDelete" ng-click="handleDeletePoint($ctrl.step, idx)"/></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="points_editor" ng-if="pointEditor">
      <label for="point_type_selector">Type:</label>
      <select id="point_type_selector" ng-model="newPoint.type" ng-change="onTypeChanged()">
        <option>Status</option>
        <option>Trigger</option>
      </select>
      <label for="point_status_selector" ng-if="newPoint.type === 'Status'">Status endpoint:</label>
      <select id="point_status_selector" ng-if="newPoint.type === 'Status'" ng-model="newPoint.value">
        <option>successful</option>
        <option>failed</option>
      </select>
      <label for="point_trigger_value" ng-if="newPoint.type === 'Trigger'">Value:</label>
      <input type="text" ng-if="newPoint.type === 'Trigger'" ng-model="newPoint.value"/>
      <label for="point_name">Name:</label>
      <input type="text"ng-model="newPoint.name"/>
      <div class="point_control_buttons">
        <button class="btn btn-success btn-xs" ng-if="newPoint.type && newPoint.value" ng-click="handleAddPoint($ctrl.step)">OK</button>
        <button class="btn btn-warning btn-xs" ng-click="handleAddPointCancel()">Cancel</button>
      </div>
    </div>
    <button class="btn btn-primary" ng-if="!allowRun && !pointEditor" style="width: 100%;" ng-click="openPointEditor()">ADD POINT</button>
    <div class="log" ng-if="status === 'start' && allowRun && isDisabledFields && !prevStepNotComplited">
      <span class="log_view" ng-click="skipStep($ctrl.step)">Skip step</span>
    </div>
    <div class="log" ng-if="current.job && status === 'successful'">
      <i class="fa fa-eye"></i>
      <span class="log_view" ng-click="handleViewLog()">View log</span>
    </div>
    <div class="log" ng-if="current.job && status === 'failed'">
      <i class="fa fa-repeat"></i>
      <span class="log_view" ng-click="deployConfig($ctrl.step)">Restart</span>
    </div>
    <div
      class="play-button"
      ng-class="{disabledButton: prevStepNotComplited || (!current.trigger && $ctrl.step !== '00')}"
      ng-if="final === undefined && status === 'start' && allowRun && isDisabledFields"
      ng-click="deployConfig($ctrl.step)"
    >
      <i class="fa fa-play-circle"></i>
    </div>
    <div class="success-button" ng-if="status === 'successful'">
      <i class="fa fa-check-circle-o"></i>
    </div>
    <div class="failed-button" ng-if="status === 'failed'">
      <i class="fa fa-times-circle-o"></i>
    </div>
    <div
      class="DashboardGraphs error"
      ng-if="final.status === 'failed' || status === 'failed'"
      style="background-color: #f8d7da;
    border: 1px solid #f5c6cb; padding-bottom: 20px;"
    >
      <i class="fa fa-warning"></i> Something went wrong. See log
      <a ng-if="final.status === 'failed'" target="_blank" ng-href="#/jobs/playbook/{{final['job']}}/">here...</a>
      <a ng-if="status === 'failed'" target="_blank" ng-href="#/jobs/playbook/{{current.job}}/">here...</a>
    </div>
    <div
      class="gear"
      ng-if="final === null && status !== 'failed' && status !== 'successful' || status === 'pending' || status === 'running'"
    ></div>
  </div>
  
</div>
