<div class="card-deploy">
  <div class="card_header">
    <h3>Step {{$ctrl.step}}</h3>
    <i class="fa fa-trash-o" ng-show="allowDelete" ng-click="handleDeleteCard()"/>
  </div>
  <hr/>
  <div style="margin-bottom: 10px;">
    <span>Choose domain:</span>
    <select style="width: 170px" ng-model="domain" ng-change="setDomain()">
      <option ng-repeat="(key, domain) in domainsList">{{domain}}</option>
    </select>
    <span>Choose action:</span>
    <select style="width: 170px" ng-model="action" ng-change="setAction()">
      <option ng-repeat="act in actionsList" ng-value="act.id">{{act.name}}</option>
    </select>
    <div>
      <input id="picker" type="checkbox" ng-value="isPicker"/>
      <label for="picker">Composer step</label>
    </div>
    <div>
      <input id="setuper" type="checkbox" ng-value="isDeployer"/>
      <label for="setuper">Deployer step</label>
    </div>
    <div
      class="play-button"
      ng-class="{disabledButton: !domain || !$root.configFileName || prevStepNotComplited}"
      ng-if="final === undefined && status === 'start' && allowRun"
      ng-click="deployConfig($ctrl.index)"
    >
      <i class="fa fa-play-circle"></i>
    </div>
    <div class="success-button" ng-if="status === 'successful'">
      <i class="fa fa-check-circle-o"></i>
    </div>
    <div class="failed-button" ng-if="status === 'failed'">
      <i class="fa fa-times-circle-o"></i>
    </div>
    <div
      class="DashboardGraphs error"
      ng-if="final.status === 'failed'"
      style="background-color: #f8d7da;
    border: 1px solid #f5c6cb; padding-bottom: 20px;"
    >
      <i class="fa fa-warning"></i> Something went wrong. See log
      <a ng-href="#/jobs/playbook/{{final['job']}}">here...</a>
    </div>
    <div
      class="gear"
      ng-if="final === null && status !== 'failed' && status !== 'successful' || status === 'pending'"
    ></div>
  </div>
</div>
