<div class="card-deploy">
  <div class="card_header" ng-click="editStepName()">
    <h3 ng-if="!name && !isEditingName">Step {{$ctrl.step}}</h3>
    <p ng-if="name && !isEditingName">{{name}}</p>
    <div class="name_input" ng-if="isEditingName">
      <input type="text" ng-model="$parent.name"/>
      <button class="btn btn-xs btn-success" ng-click="saveName($event, $ctrl.step)">Ok</button>
    </div>
    <i class="fa fa-trash-o" ng-show="allowDelete" ng-click="handleDeleteCard($ctrl.step)"/>
  </div>
  <hr/>
  <div style="margin-bottom: 10px;">
    <span>Choose domain:</span>
    <select style="width: 170px" ng-disabled="isDisabledFields" ng-model="domain" ng-change="setDomain($ctrl.step)">
      <option ng-repeat="(key, domain) in domainsList">{{domain}}</option>
    </select>
    <span>Choose action:</span>
    <select style="width: 170px" ng-disabled="isDisabledFields" ng-model="action" ng-change="setAction($ctrl.step)">
      <option ng-repeat="act in actionsList" ng-value="act.id">{{act.name}}</option>
    </select>
    <div>
      <input id="picker" ng-disabled="isDisabledFields" type="checkbox" ng-model="ispicker" ng-change="setPicker($ctrl.step)"/>
      <label for="picker">Composer step</label>
    </div>
    <div>
      <input id="setuper" ng-disabled="isDisabledFields" type="checkbox" ng-model="isdeployer" ng-change="setDeployer($ctrl.step)"/>
      <label for="setuper">Deployer step</label>
    </div>
    <div class="points_container" ng-if="points.length">
      <p class="points_label">KEY POINTS</p>
      <div class="points_table_wrapper">
        <table>
          <tr ng-repeat="(idx, point) in points">
            <td>{{point.key}}</td>
            <td><i class="fa fa-trash-o" ng-show="allowDelete" ng-click="handleDeletePoint($ctrl.step, idx)"/></td>
          </tr>
        </table>
      </div>
    </div>
    <button class="btn btn-primary" ng-if="!allowRun && points.length < 1" style="width: 100%;" ng-click="handleAddPoint($ctrl.step)">ADD POINT</button>
    <div class="log" ng-if="status === 'start' && allowRun && isDisabledFields && !prevStepNotComplited">
      <span class="log_view" ng-click="skipStep($ctrl.step)">Skip step</span>
    </div>
    <div class="log" ng-if="current.job && status === 'successful'">
      <i class="fa fa-eye"></i>
      <span class="log_view" ng-click="handleViewLog()">View log</span>
    </div>
    <div class="log" ng-if="current.job && status === 'failed'">
      <i class="fa fa-repeat"></i>
      <span class="log_view" ng-click="deployConfig($ctrl.index)">Restart</span>
    </div>
    <div
      class="play-button"
      ng-class="{disabledButton: prevStepNotComplited}"
      ng-if="final === undefined && status === 'start' && allowRun && isDisabledFields"
      ng-click="deployConfig($ctrl.index)"
    >
      <i class="fa fa-play-circle"></i>
    </div>
    <div class="success-button" ng-if="status === 'successful'">
      <i class="fa fa-check-circle-o"></i>
    </div>
    <div class="failed-button" ng-if="status === 'failed'">
      <i class="fa fa-times-circle-o"></i>
    </div>
    <div
      class="DashboardGraphs error"
      ng-if="final.status === 'failed' || status === 'failed'"
      style="background-color: #f8d7da;
    border: 1px solid #f5c6cb; padding-bottom: 20px;"
    >
      <i class="fa fa-warning"></i> Something went wrong. See log
      <a ng-if="final.status === 'failed'" target="_blank" ng-href="#/jobs/playbook/{{final['job']}}/">here...</a>
      <a ng-if="status === 'failed'" target="_blank" ng-href="#/jobs/playbook/{{finishedJobId}}/">here...</a>
    </div>
    <div
      class="gear"
      ng-if="final === null && status !== 'failed' && status !== 'successful' || status === 'pending'"
    ></div>
  </div>
  
</div>
