<div class="DashboardGraphs" style="padding: 20px 20px;">
    <div class="btn-group">
        <button 
          class="btn btn-xs"
          ng-class="{'btn-primary': displayView === 'sql2excel', 'Button-primary--hollow': displayView !== 'sql2excel'}"
          ng-click="switchView('sql2excel')"
        >SQL2EXCEL</button>
        <button 
          class="btn btn-xs"
          ng-class="{'btn-primary': displayView === 'excel2sql', 'Button-primary--hollow': displayView !== 'excel2sql'}"
          ng-click="switchView('excel2sql')"
        >EXCEL2SQL</button>
        <button 
          class="btn btn-xs"
          ng-class="{'btn-primary': displayView === 'history', 'Button-primary--hollow': displayView !== 'history'}"
          ng-click="switchView('history')"
        >History</button>
      </div>
      <!-- SQL2EXCEL -->
      <div class="DashboardGraphs" style="padding: 20px 20px;" ng-show="displayView === 'sql2excel'">
        <div>
            <div>
              <p>Source Environment:</p>
              <select style="width: 170px" ng-model="$parent.env" ng-change="getDataEnv()">
                <option
                  ng-repeat="envoption in environments"
                  ng-value="envoption.repo"
                  >{{envoption.repo}}</option
                >
              </select>
            </div>
            <div>
                <p>Branch:</p>
                <select style="width: 170px" ng-model="$parent.branch" ng-change="getDataBranch()">
                  <option
                    ng-repeat="branchoption in branches"
                    ng-value="branchoption"
                    >{{branchoption}}</option
                  >
                </select>
              </div>
          </div>
          <div>
            <div class="gitsearch" style="padding: 20px 0px;">
              <div class="form-group" ng-show="!!branch">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Search" ng-model="searchString" ng-change="handleSearch()">
              </div>
              <nav ng-show="!!branch" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li ng-repeat="(index, crumb) in breadCrumbs" ng-if="index < breadCrumbs.length - 1" class="breadcrumb-item" aria-current="page"><a ng-click="handleClickCrumb(crumb)">{{crumb}}</a></li>
                  <li ng-repeat="(index, crumb) in breadCrumbs" ng-if="index === breadCrumbs.length - 1" class="breadcrumb-item" aria-current="page">{{crumb}}</li>
                </ol>
              </nav>
              <div>
                <button ng-repeat="dir in directories" class="btn" ng-class="{'btn-primary': dir.name === directory}" ng-click="handleSelectDir(dir)">{{dir.name}}</button>
              </div>
            </div>
            <p ng-show="!!files.length">Files:</p>
            <div ng-repeat="file in files" ng-class="{fileselected: oneOfSelected(file)}" class="fileitem" ng-click="selectFileMult(file)">
              <p style="margin-right: 20px; font-size: 16px; margin-bottom: 0;"><i class="fa fa-file-o"></i></p>
              <p style="margin-bottom: 0;">{{file}}</p>
            </div>
            <paginate
              ng-if="!!dataset"
              collection="files"
              dataset="dataset"
              iterator="diff"
              base-path="{{url}}"
            >
          </div>
          <p ng-show="!!selectedFiles.length " class="selection-info"><strong>Selected files:</strong></p>
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="(index, point) in selectedFiles">
                <td><button class="btn btn-xs btn-danger" ng-click="removeSelectedFile(index)">-</button></td>
                <td>{{point.file}}</td>
              </tr>
            </tbody>
          </table>
          <div style="margin-top: 20px">
            <button class="btn btn-success" ng-show="!!selectedFiles.length" ng-click="handleConvert()">Convert</button>
          </div>
      </div>
      <!-- EXCEL2SQL -->
      <div class="DashboardGraphs" style="padding: 20px 20px;" ng-show="displayView === 'excel2sql'">
        <div>
            <div>
              <p>Source Environment:</p>
              <select style="width: 170px" ng-model="$parent.env" ng-change="getDataEnv()">
                <option
                  ng-repeat="envoption in environments"
                  ng-value="envoption.repo"
                  >{{envoption.repo}}</option
                >
              </select>
            </div>
            <div>
                <p>Branch:</p>
                <select style="width: 170px" ng-model="$parent.branch" ng-change="getDataBranch(0)">
                  <option
                    ng-repeat="branchoption in branches"
                    ng-value="branchoption"
                    >{{branchoption}}</option
                  >
                </select>
              </div>
          </div>
          <div style="margin-top: 10px;" ng-show="!!branch">
            <div ng-repeat="(index, type) in types">
              <h3 ng-show="type.breadCrumbs.length === 1">Type {{ index + 1 }} <button class="btn btn-xs btn-danger" ng-click="removeType(index)">-</button></h3>
              <h3 ng-show="type.breadCrumbs.length > 1">SQLDVM_{{type.breadCrumbs[type.breadCrumbs.length - 2]}} <button class="btn btn-xs btn-danger" ng-click="removeType(index)">-</button></h3>
              <hr/>
              <div class="gitsearch" style="padding: 20px 0px;">
                <nav ng-show="!!branch" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li ng-repeat="(i, crumb) in type.breadCrumbs" ng-if="i < type.breadCrumbs.length - 1" class="breadcrumb-item" aria-current="page"><a ng-click="handleClickCrumb(crumb, index)">{{crumb}}</a></li>
                    <li ng-repeat="(i, crumb) in type.breadCrumbs" ng-if="i === type.breadCrumbs.length - 1" class="breadcrumb-item" aria-current="page">{{crumb}}</li>
                  </ol>
                </nav>
                <div>
                  <button ng-repeat="dir in type.directories" class="btn" ng-class="{'btn-primary': dir.name === $parent.directory}" ng-click="handleSelectDir(dir, index)">{{dir.name}}</button>
                </div>
                <div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td></td>
                        <td><label>Upload EXCEL dictionaries</label></td>
                        <td><label>Select dictionary for change</label></td>
                        <td><label>Selected dictionary</label></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(j, attachment) in type.attachments">
                        <td>
                          <button class="btn btn-xs btn-danger" ng-click="removeAttach(index, j)">-</button>
                        </td>
                        <td>
                          <input type="file" type-index="{{index}}" attach-index="{{j}}" file-change="setAttachment">
                        </td>
                        <td>
                          <div class="dropdown">
                            <button ng-click="openDropdown(index, j)" class="dropbtn">Select dictionary for change</button>
                            <div id="myDropdown" class="dropdown-content" ng-class="{show: $parent.types[index].attachments[j].dropdown}">
                              <input type="text" placeholder="Search.." id="myInput" ng-model="$parent.types[index].searchString" ng-change="searchChange(index)">
                              <div style="max-height: 200px;">
                                <a ng-click="setAttachmentOn(index, j, file)" ng-repeat="file in $parent.types[index].files">{{file}}</a>
                                <a ng-click="pushNextPageFiles(index, j)">Show more ...</a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td><span>{{$parent.types[index].attachments[j].file}}</span></td>
                      </tr>
                      <tr>
                        <td>
                          <button class="btn btn-xs btn-primary" ng-click="addAttachmentRow(index)">+</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <p><label>Deploy targets:</label></p>
                  <div>
                    <div ng-repeat="(k, target) in $parent.types[index].targets track by $index">
                      <span>Target:</span>
                      <input type="text" ng-model="$parent.types[index].targets[k]" style="min-width: 300px;" ng-change="targetChange()">
                      <button class="btn btn-xs btn-danger" ng-click="removeTarget(index, k)">-</button>
                    </div>
                    <button class="btn btn-xs btn-primary" ng-click="addDeployTargetRow(index)">+</button>
                  </div>
                  <label>Artefact version:</label>
                  <input type="text" ng-model="$parent.types[index].artefact_version" ng-change="artifactVersionChanged()">
                </div>
              </div>
            </div>
            <button class="btn btn-success" ng-click="addType()" ng-show="!!branch">Add Type</button>
            <button class="btn btn-primary" ng-click="getDifference()" ng-show="!!branch && !!types.length && isAllowShowDifference">Show difference</button>
            <button class="btn btn-primary" disabled ng-show="!!branch && !!types.length && !isAllowShowDifference">Show difference</button>
            <hr/>
            <div class="DashboardGraphs" ng-show="!!branch" style="padding-bottom: 15px;">
              <p>
                <label>Commit & Generate DSL data</label>
              </p>
              <table>
                <tr>
                  <td>
                    <label>Name</label>
                  </td>
                  <td>
                    <input type="text" ng-model="$parent.dslName" ng-change="checkMainFields()">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Version</label>
                  </td>
                  <td>
                    <input type="text" ng-model="$parent.dslVersion" ng-change="checkMainFields()">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>appName</label>
                  </td>
                  <td>
                    <input type="text" ng-model="$parent.dslAppName" ng-change="checkMainFields()">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>appVersion</label>
                  </td>
                  <td>
                    <input type="text" ng-model="$parent.dslAppVersion" ng-change="checkMainFields()">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>techPlatform</label>
                  </td>
                  <td>
                    <input type="text" ng-model="$parent.dslTechPlatform" ng-change="checkMainFields()">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>techPlatformVersion</label>
                  </td>
                  <td>
                    <input type="text" ng-model="$parent.dslTechPlatformVersion" ng-change="checkMainFields()">
                  </td>
                </tr>
              </table>
              <button style="margin-top: 15px;" class="btn btn-primary" ng-show="allowGetDSL" ng-click="getChangedDSL()">Commit & Get changed DSL</button>
              <button style="margin-top: 15px;" class="btn btn-primary" disabled ng-show="!allowGetDSL">Commit & Get changed DSL</button>
            </div>
          </div>
      </div>
      <!-- HISTORY -->
      <div class="DashboardGraphs" ng-show="displayView === 'history'">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" ng-class="{'active': tab === 'sql2excel'}" ng-click="handleTabClick('sql2excel')">SQL2EXCEL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{'active': tab === 'excel2sql'}" ng-click="handleTabClick('excel2sql')">EXCEL2SQL</a>
          </li>
        </ul>
        <!-- SQL2EXCEL HISTORY -->
        <div ng-show="tab === 'sql2excel'">
          <table class="table">
            <thead>
              <tr class="table-head">
                <th>ID</th>
                <th>DATE</th>                
                <th>USER</th>
                <th>CONVERTED FILES</th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="item in sql2excelHistory"
                ng-click="historyRowClick(item)"
              >
                <td>{{item.id}}</td>
                <td
                  ng-bind="item.created | date:'dd-MM-yyyy HH:mm:ss'"
                  style="width: 200px;"
                ></td>
                <td>{{item.summary_fields.created_by.username}}</td>
                <td>
                  <button class="btn btn-success btn-xs" ng-click="downloadArchive(item)"><i class="fa fa-download"></i> Download</button>
                </td>
              </tr>
            </tbody>
          </table>
          <paginate
            collection="sql2excelHistory"
            dataset="sql2excelHistoryDataset"
            iterator="sql2excel"
            base-path="deploy/sql2excel_history"
            >
        </div>
        <!-- EXCEL2SQL HISTORY -->
        <div ng-show="tab === 'excel2sql'">
          <table class="table">
            <thead>
              <tr class="table-head">
                <th>ID</th>
                <th>DATE</th>                
                <th>USER</th>
                <th>DIFFERENCE</th>
                <th>DSL FILE</th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="item in excel2sqlHistory"
                ng-click="historyRowClick(item)"
              >
                <td>{{item.id}}</td>
                <td
                  ng-bind="item.created | date:'dd-MM-yyyy HH:mm:ss'"
                  style="width: 200px;"
                ></td>
                <td>{{item.summary_fields.created_by.username}}</td>
                <td>
                  <button class="btn btn-xs btn-primary" ng-click="showDifferenceButton(item)"><i class="fa fa-eye"></i> Show</button>
                </td>
                <td>
                  <button class="btn btn-success btn-xs" ng-click="handleDownloadDSLButton(item)"><i class="fa fa-download"></i> Download</button>
                </td>
              </tr>
            </tbody>
          </table>
          <paginate
            collection="excel2sqlHistory"
            dataset="excel2sqlHistoryDataset"
            iterator="excel2sql"
            base-path="deploy/excel2sql_history"
            >
        </div>
      </div>
      <div class="popup" ng-show="showPopup">
        <div class="popup-content" style="width: 86%;">
          <div class="popup-header">
            <span class="close" ng-click="closePopup()">&times;</span>
            <h4>Upcoming changes</h4>
          </div>
          <div class="popup-body">
            <div style="overflow: auto; max-height: 400px;" ng-if="showCompleted">
              <div>
                Convert completed!
              </div>
            </div>
            <div style="overflow: auto; max-height: 400px;" ng-if="!showCompleted">
              <table class="table">
                <tbody>
                  <tr ng-repeat="row in $parent.final track by $index" ng-class="{'green-row': row[0].indexOf('+') === 0, 'red-row': row[0].indexOf('-') === 0, 'strong-row': row[0].indexOf('П') == 0}">
                    <td ng-repeat="item in row track by $index">{{item}}</td>
                  </tr>
                </tbody>
              </table>
              <!-- <div ng-repeat="row in $parent.final" style="text-align: start;" ng-class="{'green-row': row.indexOf('+') === 0, 'red-row': row.indexOf('-') === 0, 'strong-row': row.indexOf('П') == 0}">
                {{row}}
              </div> -->
            </div>
            <button class="btn btn-primary" ng-click="confirmCompleted()" ng-if="showCompleted">
              Ok
            </button>
            <button class="btn btn-primary" ng-click="confirmChanges()" ng-if="!showCompleted">
              <i class="fa fa-play-circle" ng-show="displayView !== 'history'"></i>
              <span ng-show="displayView !== 'history'">Apply</span>
              <span ng-show="displayView === 'history'">Ok</span>
            </button>
          </div>
        </div>
      </div>
</div>