<!-- <div ng-show="diffErrorMessage != null">
  <font color="red">{{diffErrorMessage}}</font>
</div>
<div ng-show="diffSuccessMessage != null">
  <font color="green">{{diffSuccessMessage}}</font>
</div> -->

<div class="DashboardGraphs" style="padding: 20px 20px;">
  <div class="btn-group">
    <!-- <button id="diffAppButton" class="btn btn-xs btn-primary">{{version_commit}}</button> -->
    <button 
      class="btn btn-xs"
      ng-class="{'btn-primary': displayView === 'compare', 'Button-primary--hollow': displayView !== 'compare'}"
      ng-click="switchView('compare')"
    >Compare</button>
    <button 
      class="btn btn-xs"
      ng-class="{'btn-primary': displayView === 'history', 'Button-primary--hollow': displayView !== 'history'}"
      ng-click="switchView('history')"
    >History</button>
    <!-- <button 
      class="btn btn-xs"
      ng-class="{'btn-primary': displayView === 'commits', 'Button-primary--hollow': displayView !== 'commits'}"
      ng-click="switchView('commits')"
    >Versions</button> -->
  </div>
  <!-- VIEW COMPARE -->
  <div class="DashboardGraphs" ng-show="displayView === 'compare'">
  <div class="box">
    <div>
      <p>Source Environment:</p>
      <select style="width: 170px" ng-model="env1" ng-change="getDataEnv1()">
        <option
          ng-repeat="env1option in diffEnvironments.versions"
          ng-value="env1option"
          >{{env1option.name}}</option
        >
      </select>
      <!-- {{env1}} -->
  
    </div>
    <div>
      <p>Target Environment:</p>
      <select style="width: 170px" ng-model="env2" ng-change="getDataEnv2()">
        <option
          ng-repeat="env2option in diffEnvironments.versions"
          ng-value="env2option"
          >{{env2option.name}}</option
        >
      </select>
      <!-- {{env2}} -->

    </div>

    <!-- <br>{{env1VersionChoosen}}<br>{{env1Version}}<br> -->
  </div>
  <!-- <br>{{env2VersionChoosen}}<br>{{env2Version}}<br> -->

  <div>

  </div>

  <div class="box">
    <button
      id="diffCompareButton"
      class="SmartSearch-keyToggle btn"
      ng-click="compare()"
    >
      Compare
    </button>
  </div>
  <div class="box">
    <div class="sub-option">
      <input type="checkbox" name="composites" id="composites" ng-model="confirmed" ng-change="setCompareComposite()"/>
      <label for="composites"> Compare composite configurations</label>
    </div>
  </div>

  <div class="box" ng-hide="diffView==='APP_CFG' && final != null">
    <div>
      <div class="card_radio" ng-class="{green_box: env1version.tag === 'master', blue_box: env1version.tag === 'current'}" ng-repeat="env1version in env1Versions track by $index" ng-hide="env1version.hash === env2Version.hash">
        <input type="radio" ng-value="env1version.tag" name="env1" id="{{env1version.hash}}1" ng-model="$parent.env1VersionChoosen" ng-change="setVersionEnv1()"/>
        <label for="{{env1version.target}}1" ng-show="env1version.tag !== 'master' && env1version.tag !== 'current'"">{{env1version.tag}}</label>
        <label for="{{env1version.target}}1" ng-show="env1version.tag === 'master'">{{env1version.subtag+' Actual'}}</label>
        <label for="{{env1version.target}}1" ng-show="env1version.tag === 'current'">Current</label>
        <div>
          <div class="commit_info">
            <p ng-bind="env1version.date | date:'dd-MM-yyyy HH:mm'"></p>
            <p><i class="fa fa-user"></i> {{env1version.author}}</p>
            <p><i class="fa fa-envelope"></i> {{env1version.email}}</p>
            <p>{{env1version.hash}}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <form ng-model="env2VersionChoosen" ng-change="setVersionEnv2()">
        <div class="card_radio" ng-class="{green_box: env2version.tag === 'master', blue_box: env2version.tag === 'current'}" ng-repeat="env2version in env2Versions track by $index" ng-hide="env2version.hash === env1Version.hash">
          <input type="radio" ng-value="env2version.tag" name="env2" id="{{env2version.hash}}2" ng-model="$parent.env2VersionChoosen" ng-change="setVersionEnv2()"/>
          <label for="{{env2version.target}}2" ng-show="env2version.tag !== 'master' && env2version.tag !== 'current'">{{env2version.tag}}</label>
          <label for="{{env2version.target}}2" ng-show="env2version.tag === 'master'">{{env2version.subtag+' Actual'}}</label>
          <label for="{{env2version.target}}2" ng-show="env2version.tag === 'current'">Current</label>
          <div>
            <div class="commit_info">
              <p ng-bind="env2version.date | date:'dd-MM-yyyy HH:mm'"></p>
              <p><i class="fa fa-user"></i> {{env2version.author}}</p>
              <p><i class="fa fa-envelope"></i> {{env2version.email}}</p>
              <p>{{env2version.hash}}</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="box" ng-show="diffView==='APP_CFG' && final != null">
    <div class="card_radio" ng-class="{green_box: env1Version.tag === 'master', blue_box: env1Version.tag === 'current'}">
      <div class="card_head">
        <p ng-show="env1Version.tag !== 'master' && env1Version.tag !== 'current'"><strong>{{env1Version.tag}}</strong></p>
        <p ng-show="env1Version.tag === 'master'"><strong>Actual</strong></p>
        <p ng-show="env1Version.tag === 'current'"><strong>Current</strong></p>
      </div>
      <div class="commit_info">
        <p ng-bind="env1Version.date | date:'dd-MM-yyyy HH:mm'"></p>
        <p><i class="fa fa-user"></i> {{env1Version.author}}</p>
        <p><i class="fa fa-envelope"></i> {{env1Version.email}}</p>
        <p>{{env1Version.target}}</p>
      </div>
    </div>
    <div class="card_radio" ng-class="{green_box: env2Version.tag === 'master', blue_box: env2Version.tag === 'current'}">
      <div class="card_head">
        <p ng-show="env2Version.tag !== 'master' && env2Version.tag !== 'current'"><strong>{{env2Version.tag}}</strong></p>
        <p ng-show="env2Version.tag === 'master'"><strong>Actual</strong></p>
        <p ng-show="env2Version.tag === 'current'"><strong>Current</strong></p>
      </div>
      <div class="commit_info">
        <p ng-bind="env2Version.date | date:'dd-MM-yyyy HH:mm'"></p>
        <p><i class="fa fa-user" ng-show="!!env2Version.author"></i> {{env2Version.author}}</p>
        <p><i class="fa fa-envelope" ng-show="!!env2Version.email"></i> {{env2Version.email}}</p>
        <p>{{env2Version.target}}</p>
      </div>
    </div>
  </div>

  </div>
  <!-- VIEW HISTORY -->
  <div class="DashboardGraphs" ng-show="displayView === 'history' && !!isList">
    <at-list results="storedJobs">
      <at-row
        ng-repeat="project in storedJobs"
        ng-class="{'at-Row--active': (project.id === vm.activeId), 'at-Row--collapsed': vm.isCollapsed}"
        id="row-{{ project.id }}"
      >
        <div class="at-Row-items">
          <div class="at-Row-container">
            <at-row-item
              status="{{ project.statusIcon }}"
              status-tip="{{ project.statusTip }}"
              status-click="showSCMStatus(project.id)"
              header-value="{{ project.name }}"
              header-tag="{{ vm.projectTypes[project.scm_type] }}"
            >
            </at-row-item>
            <div class="at-Row-actions">
              <at-row-action
                icon="fa-file-pdf-o"
                ng-click="downloadPDFfile(project.id)"
              >
              </at-row-action>
            </div>
          </div>
          <div class="at-Row-container--wrapped">
            <div class="at-RowItem">
              <div class="at-RowItem-label">
                <div style="display: flex;">
                  <div style="margin-right: 20px;">
                    <div>{{parse(project.extra_vars).compare_domain_one}}</div>
                    <div>{{parse(project.extra_vars).compare_domain_two}}</div>
                  </div>
                  <div>
                    <div>{{parse(project.extra_vars).compare_version_one}}</div>
                    <div>{{parse(project.extra_vars).compare_version_two}}</div>
                  </div>
                </div>
                <div ng-bind="project.created | date:'dd-MM-yyyy HH:mm:ss'"></div>                
              </div>
            </div>
            <at-row-item
              label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_DESCRIPTION')}}"
              value="{{ project.description | sanitize }}"
            >
            </at-row-item>
            <at-row-item
              label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_ORGANIZATION')}}"
              value="{{ project.summary_fields.organization.name }}"
              value-link="/#/organizations/{{ project.organization }}"
            >
            </at-row-item>
            <at-row-item
              label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_MODIFIED') }}"
              value-bind-html="{{ vm.getLastModified(project) }}"
            >
            </at-row-item>
            <at-row-item
              label-value="{{:: vm.strings.get('list.ROW_ITEM_LABEL_USED') }}"
              value-bind-html="{{ vm.getLastUsed(project) }}"
            >
            </at-row-item>
          </div>
        </div>
      </at-row>
    </at-list>
    <paginate
      ng-if="displayView === 'history'"
      collection="storedJobs"
      dataset="dataset"
      iterator="diff"
      base-path="/api/v2/jobs"
    >
    </paginate>
  </div>
  <!-- VIEW COMMITS -->
  <div class="DashboardGraphs" ng-show="displayView === 'commits'" style="padding-bottom: 20px;">
    <div style="padding-bottom: 20px;">
      <p>Source Environment:</p>
      <select style="width: 170px" ng-model="environmentDomain" ng-change="getEnvironmentDomain()">
        <option
          ng-repeat="env1option in diffEnvironments.versions"
          ng-value="env1option"
          >{{env1option.name}}</option
        >
      </select>  
    </div>
    <div>
      <input type="checkbox" name="composites" id="composites" ng-model="confirmed" ng-change="setCompareComposite()"/>
      <label for="composites"> Compare composite configurations</label>
    </div>
    <button id="verCompareButton" class="btn btn-success" ng-class="{disabled: !allowCompareVersions}" style="margin-bottom: 20px;" ng-click="handleCompareVersions()">Compare</button>
    <div class="card_view">
      <div class="card_radio" ng-repeat="commit in domainVersions track by $index" style="width: 370px;">
        <input type="checkbox" ng-value="commit.message" name="commit" id="{{commit.id}}" ng-model="$parent.commitsSelected[commit.hash]" ng-change="setCommit()"/>
        <label for="{{commit.title}}">{{commit.message}}</label>
        <div>
          <div class="commit_info">
            <p ng-bind="commit.date | date:'dd-MM-yyyy HH:mm'"></p>
            <p><i class="fa fa-user"></i> {{commit.author}}</p>
            <p><i class="fa fa-envelope"></i> {{commit.email}}</p>
            <p>{{commit.hash}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="diffView==='APP_CFG' && final != null && final['status'] === 'failed'" class="DashboardGraphs error" style="background-color: #f8d7da;
border: 1px solid #f5c6cb; padding-bottom: 20px;">
  <i class="fa fa-warning"></i> Something went wrong. See log <a ng-href="#/jobs/playbook/{{final['job']}}">here...</a>
</div>

<div ng-if="diffView==='APP_CFG' && !!compareData && isEmpty" class="DashboardGraphs success_mess" style="background-color: #d4edda;
border: 1px solid #c3e6cb; padding-bottom: 20px;">
  <i class="fa fa-check"></i> Changes not found.</a>
</div>

<div
  ng-if="diffView==='APP_CFG' && final != null && final['status'] !== 'failed' && !isEmpty"
  class="DashboardGraphs"
>
  <button class="btn btn-primary" ng-click="exportPDF()">Export to PDF</button>
  <!-- <button class="btn btn-primary" ng-click="PrintDiv()">Print to PDF</button> -->
  <br /> <br />
  <div id="printContainer">
    <table
      border="1"
      class="diff_table"
      ng-repeat="(key, value) in final"
      ng-if="key != 'added_in_second' && key != 'deleted_from_second'"
      id="diff_table"
    >
      <tr ng-click="collapseView(key)" class="clps">
        <td ng-if="key === 'new_value'">New values</td>
        <!-- <td ng-if="key === 'deleted_from_second' || key === 'added_in_second'" ng-bind-template="Deleted from {{uiEnv2}} ({{env2Version.tag}})"></td> -->
        <!-- <td ng-if="key === 'added_in_second'" ng-bind-template="Added to {{uiEnv2}} ({{env2Version.tag}})"></td> -->
        <td
          ng-if="key === 'changes'"
          ng-bind-template="Differences between the parameters between the domain {{uiEnv1}} version {{env1Version.tag}} and domain {{uiEnv2}} version {{env2Version.tag}}"
        ></td>
        <!-- <td ng-if="key === 'object_deleted_from_second'" ng-bind-template="Objects deleted from {{uiEnv2}} ({{env2Version.tag}})"></td>
        <td ng-if="key === 'object_added_in_second'" ng-bind-template="Objects added to {{uiEnv2}} ({{env2Version.tag}})"></td> -->
        <td
          ng-if="key === 'difference'"
          ng-bind-template="Differences in the composition of objects between the domain {{uiEnv1}} version {{env1Version.tag}} and domain {{uiEnv2}} version {{env2Version.tag}}"
        ></td>
      </tr>
      <tr ng_class="hide_{{key}}" ng-hide="isCollapse['{{key}}'] === true">
        <td>
          <table
            border="1"
            class="table_container"
            ng-repeat="(k, val) in final[key]"
          >
            <tr>
              <td class="strong_title">{{k}}</td>
            </tr>
            <tr>
              <td>
                <table
                  border="1"
                  ng-class="{diff_gray_table: key != 'object_deleted_from_second' && key != 'object_added_in_second', diff_red_table: key === 'object_deleted_from_second', diff_green_table: key === 'object_added_in_second'}"
                  ng-repeat="(k1, val) in final[key][k]"
                  ng-if="key != 'deleted_from_second' && key != 'added_in_second'"
                >
                  <tr>
                    <td ng-if="key === 'changes' || key === 'new_value'"><strong>{{k1}}</strong></td>
                    <!-- <td ng-if="key != 'changes' && key != 'new_value' && key != 'added_in_second' && key != 'deleted_from_second'"><strong>{{k1}}</strong></td> -->
                    <!-- <td ng-if="key != 'added_in_second' && key != 'deleted_from_second'"></td> -->
                    <td ng-if="key === 'changes' || key === 'new_value'"></td>
                    <!-- <td ng-if="key === 'difference'">difference</td> -->
                  </tr>
                  <!-- CHANGES & NEW VALUES -->
                  <tr ng-if="key === 'changes' || key === 'new_value'">
                    <td><strong>parameter</strong></td>
                    <td><strong ng-bind-template="{{uiEnv1}} ({{env1Version.tag}})"></strong></td>
                    <td><strong ng-bind-template="{{uiEnv2}} ({{env2Version.tag}})"></strong></td>
                    <td><strong>path to parameter</strong></td>
                  </tr>
                  <tr ng-repeat="item in final[key][k][k1]" ng-if="key === 'changes' || key === 'new_value'">
                    <td class="td_parameter">{{item.parameter}}</td>
                    <td class="td_parameter">{{item.first_diff_value === null ? 'NULL' : item.first_diff_value}}</td>
                    <td class="td_parameter">{{item.second_diff_value === null ? 'NULL' : item.second_diff_value}}</td>
                    <td rowspan="1" class="td_parameter pathto">{{item.path_to_parameter}}</td>
                  </tr>
                  <!-- DELETED AND ADDED OBJECTS -->
                  <!-- <tr ng-if="key === 'object_deleted_from_second' || key === 'object_added_in_second'">
                    <td><strong>URL to edit</strong></td>
                    <td><strong>Values</strong></td>
                  </tr> -->
                  <!-- <tr ng-repeat="item in final[key][k][k1]" ng-if="key === 'object_deleted_from_second' || key === 'object_added_in_second'">
                    <td class="td_parameter" ng-if="$first" rowspan="{{final[key][k][k1].length}}">{{item.url_to_edit}}</td>
                    <td class="td_parameter">
                      <div>
                        <p ng-repeat="(iKey, iValue) in item" ng-if="iKey !== 'url_to_edit'" ng-bind-template="'{{iKey}}': '{{iValue}}'"></p>
                      </div>
                    </td>
                  </tr> -->
                </table>
                <table border="1" ng-if="key === 'difference'" class="diff_gray_table" style="width: 100%;">
                  <!-- DIFFERENCE -->
                  <tr ng-if="key === 'difference'">
                    <td><strong ng-bind-template="{{uiEnv1}} ({{env1Version.tag}})"></strong></td>
                    <td><strong ng-bind-template="{{uiEnv2}} ({{env2Version.tag}})"></strong></td>
                  </tr>
                  <tr ng-repeat="item in final[key][k].added">
                    <td>{{item.name}}</td>
                    <td>None</td>
                  </tr>
                  <tr ng-repeat="item in final[key][k].deleted">
                    <td>None</td>
                    <td>{{item}}</td>
                  </tr>
                </table>
                <!-- <table border="1" class="diff_green_table" ng-if="key === 'added_in_second'"> -->
                  <!-- ADDED PARAMS -->
                  <!-- <tr ng-if="key === 'added_in_second'">
                  </tr>
                  <tr ng-repeat="item in final[key][k]" ng-if="key === 'deleted_from_second' || key === 'added_in_second'">
                    <td>{{item.name}}</td>
                  </tr>
                </table> -->
                <!-- <table border="1" class="diff_red_table" ng-if="key === 'deleted_from_second'"> -->
                  <!-- DELETED PARAMS -->
                  <!-- <tr ng-repeat="item in final[key][k]" ng-if="key === 'deleted_from_second' || key === 'added_in_second'">
                    <td>{{item}}</td>
                  </tr>
                </table> -->
  
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <ul
      ng-repeat="x in compareData.APP_CFG.data track by $index"
      ng-hide="(x.diff === null || x.diff === 'incompatible') && showDiffOnly"
    >
      <hr />
      <li>
        <h5><b>{{ x.config }}</b></h5>
        <!-- <span>(Version: " {{ x.left_revision }} " -> " {{ x.right_revision }} " ) </span> -->
        <table border="1">
          <!-- <tr><td colspan=2><h5><b>{{ x.config }}</b></h5></td></tr> -->
          <tr>
            <td>Source version ({{env1}})</td>
            <td>Target version ({{env2}})</td>
          </tr>
          <tr>
            <td>{{ formatVersionValue(x.left_revision) }}</td>
            <td>{{ formatVersionValue(x.right_revision) }}</td>
          </tr>
        </table>

        <br /><br />

        <div ng-repeat="item in x.diff">
          <span ng-show="item.properties == null && !showDiffTables"
            >{{ item.pathText }}
            <b> ({{formatStatus(item.status.toUpperCase())}})</b></span
          >
          <br /><br />

          <p ng-repeat="prop in item.properties" ng-show="!showDiffTables">
            <input type="checkbox" ng-model="prop.checked" />
            <span ng-show="!prop.checked"
              >{{ item.pathText }}
              <b
                >{{formatProperty(prop.name,item.status.toUpperCase())}}</b
              ></span
            >
            <span ng-show="prop.checked" style="color: red"
              >{{ item.pathText }}
              <b
                >{{formatProperty(prop.name,item.status.toUpperCase())}}</b
              ></span
            >
            <br />

            <span ng-show="!prop.checked"
              ><u>Source Value ({{env1}}):</u>
              "{{formatSourceValue(prop.left_value)}}"</span
            >
            <span ng-show="prop.checked" style="color: red"
              ><u>Old Value:</u> "{{formatOldValue(prop.right_value)}}"</span
            >
            <br />
            <span ng-show="!prop.checked"
              ><u>Target Value ({{env2}}):</u>
              "{{formatTargetValue(prop.right_value)}}"</span
            >
            <span ng-show="prop.checked" style="color: red"
              ><b
                ><u>New Value:</u> "{{formatNewValue(prop.left_value)}}"</b
              ></span
            >
            <br />
          </p>

          <table
            border="1"
            style="width: 100%"
            ng-click="prop.checked = !prop.checked"
            ng-show="item.properties == null && showDiffTables"
          >
            <tr>
              <td colspan="2">
                {{ item.pathText }}
                <b>{{formatStatus(item.status.toUpperCase())}}</b>
              </td>
            </tr>
          </table>

          <div ng-repeat="prop in item.properties" ng-show="showDiffTables">
            <table
              border="1"
              style="width: 100%"
              ng-click="prop.checked = !prop.checked"
              ng-show="!prop.checked && showDiffTables"
            >
              <tr>
                <td colspan="2">
                  {{ item.pathText }}
                  <b>{{formatProperty(prop.name,item.status.toUpperCase())}}</b>
                </td>
              </tr>
              <tr>
                <td style="width: 160px">Source Value ({{env1}})</td>
                <td>{{formatSourceValue(prop.left_value)}}</td>
              </tr>
              <tr>
                <td style="width: 160px">Target Value ({{env2}})</td>
                <td>{{formatTargetValue(prop.right_value)}}</td>
              </tr>
            </table>

            <table
              bordercolor="red"
              border="3"
              style="width: 100%"
              ng-click="prop.checked = !prop.checked"
              ng-show="prop.checked && showDiffTables"
              style="color: red"
            >
              <tr>
                <td colspan="2">
                  {{ item.pathText }}
                  <b>{{formatProperty(prop.name,item.status.toUpperCase())}}</b>
                </td>
              </tr>
              <tr>
                <td style="width: 160px">Old Value</td>
                <td>{{formatOldValue(prop.right_value)}}</td>
              </tr>
              <tr>
                <td style="width: 160px"><b>New Value</b></td>
                <td><b>{{formatNewValue(prop.left_value)}}</b></td>
              </tr>
            </table>

            <br />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- <center><button id="diffApplyButtonAPP" class="SmartSearch-keyToggle btn" ng-click="diffApply()" ng-show="compareData != null">Apply</button></center> -->
  <br />
</div>

<div class="loader_screen" ng-show="isCalculating">
  <div class="lds-hourglass"></div>
  <div class="message_loader">Please wait. Difference is calculating.</div>
</div>

<div
  ng-show="diffView==='DOMAIN_CFG' && compareData != null"
  class="DashboardGraphs"
>
  <div>
    <ul
      ng-repeat="x in compareData.DOMAIN_CFG.data track by $index"
      ng-hide="(x.diff === null || x.diff === 'incompatible') && showDiffOnly"
    >
      <hr />
      <li>
        <h5><b>{{ x.config }}</b></h5>
        <br />

        <p ng-show="x.diff === 'incompatible'" style="color: red">
          INCOMPATIBLE
        </p>

        <div ng-repeat="item in x.diff">
          <span ng-show="item.properties == null && !showDiffTables"
            >{{ item.pathText }}
            <b> ({{formatStatus(item.status.toUpperCase())}})</b></span
          >
          <br /><br />

          <p ng-repeat="prop in item.properties" ng-show="!showDiffTables">
            <input type="checkbox" ng-model="prop.checked" />
            <span ng-show="!prop.checked"
              >{{ item.pathText }}
              <b
                >{{formatProperty(prop.name,item.status.toUpperCase())}}</b
              ></span
            >
            <span ng-show="prop.checked" style="color: red"
              >{{ item.pathText }}
              <b
                >{{formatProperty(prop.name,item.status.toUpperCase())}}</b
              ></span
            >
            <br />

            <span ng-show="!prop.checked"
              ><u>Source Value ({{env1}}):</u>
              "{{formatSourceValue(prop.left_value)}}"</span
            >
            <span ng-show="prop.checked" style="color: red"
              ><u>Old Value:</u> "{{formatOldValue(prop.right_value)}}"</span
            >
            <br />
            <span ng-show="!prop.checked"
              ><u>Target Value ({{env2}}):</u>
              "{{formatTargetValue(prop.right_value)}}"</span
            >
            <span ng-show="prop.checked" style="color: red"
              ><b
                ><u>New Value:</u> "{{formatNewValue(prop.left_value)}}"</b
              ></span
            >
            <br />
          </p>

          <table
            border="1"
            style="width: 100%"
            ng-click="prop.checked = !prop.checked"
            ng-show="item.properties == null && showDiffTables"
          >
            <tr>
              <td colspan="2">
                {{ item.pathText }}
                <b>{{formatStatus(item.status.toUpperCase())}}</b>
              </td>
            </tr>
          </table>

          <div ng-repeat="prop in item.properties" ng-show="showDiffTables">
            <table
              border="1"
              style="width: 100%"
              ng-click="prop.checked = !prop.checked"
              ng-show="!prop.checked && showDiffTables"
            >
              <tr>
                <td colspan="2">
                  {{ item.pathText }}
                  <b>{{formatProperty(prop.name,item.status.toUpperCase())}}</b>
                </td>
              </tr>
              <tr>
                <td style="width: 160px">Source Value ({{env1}})</td>
                <td>{{formatSourceValue(prop.left_value)}}</td>
              </tr>
              <tr>
                <td style="width: 160px">Target Value ({{env2}})</td>
                <td>{{formatTargetValue(prop.right_value)}}</td>
              </tr>
            </table>

            <table
              bordercolor="red"
              border="3"
              style="width: 100%"
              ng-click="prop.checked = !prop.checked"
              ng-show="prop.checked && showDiffTables"
              style="color: red"
            >
              <tr>
                <td colspan="2">
                  {{ item.pathText }}
                  <b>{{formatProperty(prop.name,item.status.toUpperCase())}}</b>
                </td>
              </tr>
              <tr>
                <td style="width: 160px">Old Value</td>
                <td>{{formatOldValue(prop.right_value)}}</td>
              </tr>
              <tr>
                <td style="width: 160px"><b>New Value</b></td>
                <td><b>{{formatNewValue(prop.left_value)}}</b></td>
              </tr>
            </table>

            <br />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <center>
    <button
      id="diffApplyButtonDOMAIN"
      class="SmartSearch-keyToggle btn"
      ng-click="diffApply()"
      ng-show="compareData != null"
    >
      Apply
    </button>
  </center>
  <br />
</div>

<div
  ng-show="diffView==='SOACONFIG' && compareData != null"
  class="DashboardGraphs"
>
  <div>
    <ul
      ng-repeat="x in compareData.SOACONFIG.data track by $index"
      ng-hide="(x.diff === null || x.diff === 'incompatible') && showDiffOnly"
    >
      <hr />
      <li>
        <h5><b>{{ x.config }}</b></h5>
        <br />

        <p ng-show="x.diff === 'incompatible'" style="color: red">
          INCOMPATIBLE
        </p>

        <div ng-repeat="item in x.diff">
          <span ng-show="item.properties == null && !showDiffTables"
            >{{ item.pathText }}
            <b> {{formatStatus(item.status.toUpperCase())}}</b></span
          >
          <br /><br />

          <p ng-repeat="prop in item.properties" ng-show="!showDiffTables">
            <input type="checkbox" ng-model="prop.checked" />
            <span ng-show="!prop.checked"
              >{{ item.pathText }}
              <b
                >{{formatProperty(prop.name,item.status.toUpperCase())}}</b
              ></span
            >
            <span ng-show="prop.checked" style="color: red"
              >{{ item.pathText }}
              <b
                >{{formatProperty(prop.name,item.status.toUpperCase())}}</b
              ></span
            >
            <br />

            <span ng-show="!prop.checked"
              ><u>Source Value({{env1}}):</u>
              "{{formatSourceValue(prop.left_value)}}"</span
            >
            <span ng-show="prop.checked" style="color: red"
              ><u>Old Value:</u> "{{formatOldValue(prop.right_value)}}"</span
            >
            <br />
            <span ng-show="!prop.checked"
              ><u>Target Value({{env2}}):</u>
              "{{formatTargetValue(prop.right_value)}}"</span
            >
            <span ng-show="prop.checked" style="color: red"
              ><b
                ><u>New Value:</u> "{{formatNewValue(prop.left_value)}}"</b
              ></span
            >
            <br />
          </p>

          <table
            border="1"
            style="width: 100%"
            ng-show="item.properties == null && showDiffTables"
          >
            <tr>
              <td colspan="2">
                {{ item.pathText }}
                <b>{{formatStatus(item.status.toUpperCase())}}</b>
              </td>
            </tr>
          </table>

          <div ng-repeat="prop in item.properties" ng-show="showDiffTables">
            <table
              border="1"
              style="width: 100%"
              ng-click="prop.checked = !prop.checked"
              ng-show="!prop.checked && showDiffTables"
            >
              <tr>
                <td colspan="2">
                  {{ item.pathText }}
                  <b>{{formatProperty(prop.name,item.status.toUpperCase())}}</b>
                </td>
              </tr>
              <tr>
                <td style="width: 160px">Source Value ({{env1}})</td>
                <td>{{formatSourceValue(prop.left_value)}}</td>
              </tr>
              <tr>
                <td style="width: 160px">Target Value ({{env2}})</td>
                <td>{{formatTargetValue(prop.right_value)}}</td>
              </tr>
            </table>

            <table
              bordercolor="red"
              border="3"
              style="width: 100%"
              ng-click="prop.checked = !prop.checked"
              ng-show="prop.checked && showDiffTables"
              style="color: red"
            >
              <tr>
                <td colspan="2">
                  {{ item.pathText }}
                  <b>{{formatProperty(prop.name,item.status.toUpperCase())}}</b>
                </td>
              </tr>
              <tr>
                <td style="width: 160px">Old Value</td>
                <td>{{formatOldValue(prop.right_value)}}</td>
              </tr>
              <tr>
                <td style="width: 160px"><b>New Value</b></td>
                <td><b>{{formatNewValue(prop.left_value)}}</b></td>
              </tr>
            </table>

            <br />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <center>
    <button
      id="diffApplyButtonSOA"
      class="SmartSearch-keyToggle btn"
      ng-click="diffApply()"
      ng-show="compareData != null"
    >
      Apply
    </button>
  </center>
  <br />
</div>

<div
  ng-show="diffView==='FMW_PATCH' && compareData != null"
  class="DashboardGraphs"
>
  <div>
    Description:
    <pre style="background-color: #FCFCFC; width:100%">
<!-- <div style="width:100%; border: 1px black" > -->
<span style="background-color:red; color: white; width: 100%; ">Value</span><span style="background-color:#FCFCFC" > - Removed Line</span>
<span style="background-color:green; color: white" >Value</span><span style="background-color:#FCFCFC" > - Added Line</span>
<span style="background-color:#FCFCFC" >Value - Same Line</span>
<!-- </div> -->
</pre>
  </div>
  <div ng-repeat="f in compareData.FMW_PATCH.data">
    <ul>
      <hr />
      <li>
        <h5><b>{{ f.file }}</b></h5>
        <br />
        <span ng-show="f.left_content === null && f.right_content === null"
          >Различий нет</span
        >
        <pre
          ng-show="f.left_content != null || f.right_content != null"
          style="background-color: #FCFCFC; width:100%"
        ><div style="width:100%" ng-repeat="line in f.diff_lines"><span style="background-color:red; color: white; width: 100%" ng-if="line.removed">{{line.value}}</span><span style="background-color:green; color: white" ng-if="line.added">{{line.value}}</span><span style="background-color:#FCFCFC" ng-if="!line.added && !line.removed">{{line.value}}</span></div></pre>
      </li>
    </ul>
  </div>
  <pre id="diffResult"></pre>
</div>

<div
  ng-show="diffView==='DATABASE_CFG' && compareData != null"
  class="DashboardGraphs"
>
  <div>
    Description:
    <pre style="background-color: #FCFCFC; width:100%">
<!-- <div style="width:100%; border: 1px black" > -->
<span style="background-color:red; color: white; width: 100%; ">Value</span><span style="background-color:#FCFCFC" > - Removed Line</span>
<span style="background-color:green; color: white" >Value</span><span style="background-color:#FCFCFC" > - Added Line</span>
<span style="background-color:#FCFCFC" >Value - Same Line</span>
<!-- </div> -->
</pre>
  </div>

  <div ng-repeat="f in compareData.DATABASE_CFG.data">
    <ul>
      <hr />
      <li>
        <h5><b>{{ f.file }}</b></h5>
        <br />
        <span ng-show="f.left_content === null && f.right_content === null"
          >Различий нет</span
        >
        <pre
          ng-show="f.left_content != null || f.right_content != null"
          style="background-color: #FCFCFC; width:100%"
        ><div style="width:100%" ng-repeat="line in f.diff_lines"><span style="background-color:red; color: white; width: 100%" ng-if="line.removed">{{line.value}}</span><span style="background-color:green; color: white; " ng-if="line.added">{{line.value}}</span><span style="background-color:#FCFCFC" ng-if="!line.added && !line.removed">{{line.value}}</span></div></pre>
      </li>
    </ul>
  </div>
  <pre id="diffResult"></pre>
</div>

<div
  ng-show="diffView==='OS_CFG' && compareData != null"
  class="DashboardGraphs"
>
  <div>
    Description:
    <pre style="background-color: #FCFCFC; width:100%">
<!-- <div style="width:100%; border: 1px black" > -->
<span style="background-color:red; color: white; width: 100%; ">Value</span><span style="background-color:#FCFCFC" > - Removed Line</span>
<span style="background-color:green; color: white" >Value</span><span style="background-color:#FCFCFC" > - Added Line</span>
<span style="background-color:#FCFCFC" >Value - Same Line</span>
<!-- </div> -->
</pre>
  </div>

  <h4 ng-show="compareData != null">Source Environment</h4>
  <div ng-repeat="f1 in compareData.OS_CFG.left">
    <ul>
      <hr />
      <li>
        <h5><b>{{ f1.host }}</b></h5>
        <br />

        <div ng-repeat="data1 in f1.diff.data">
          <b
            ><u><h6>{{data1.file}}:</h6></u></b
          >
          <div>
            <span
              ng-show="data1.left_content === null && data1.right_content === null"
              >Различий нет</span
            >
          </div>
          <pre
            ng-show="data1.left_content != null || data1.right_content != null"
            style="background-color: #FCFCFC; width:100%"
          ><div style="width:100%" ng-repeat="line in data1.diff_lines"><span style="background-color:red; color: white; width: 100%" ng-if="line.removed">{{line.value}}</span><span style="background-color:green; color: white" ng-if="line.added">{{line.value}}</span><span style="background-color:#FCFCFC" ng-if="!line.added && !line.removed">{{line.value}}</span></div></pre>
          <br />
        </div>
      </li>
    </ul>
  </div>
  <h4 ng-show="compareData != null">Target Environment</h4>
  <div ng-repeat="f2 in compareData.OS_CFG.right">
    <ul>
      <hr />
      <li>
        <h5><b>{{ f2.host }}</b></h5>
        <br />
        <div ng-repeat="data2 in f2.diff.data">
          <b
            ><u><h6>{{data2.file}}:</h6></u></b
          >
          <div>
            <span
              ng-show="data2.left_content === null && data2.right_content === null"
              >Различий нет</span
            >
          </div>
          <pre
            ng-show="data2.left_content != null || data2.right_content != null"
            style="background-color: #FCFCFC; width:100%"
          ><div style="width:100%" ng-repeat="line in data2.diff_lines"><span style="background-color:red; color: white; width: 100%" ng-if="line.removed">{{line.value}}</span><span style="background-color:green; color: white" ng-if="line.added">{{line.value}}</span><span style="background-color:#FCFCFC" ng-if="!line.added && !line.removed">{{line.value}}</span></div></pre>
          <br />
        </div>
      </li>
    </ul>
  </div>
</div>
